
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Date Joined</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.Email</td>
        <td>@Model.Phone</td>
        <td>@Model.Address</td>
        <td>@Model.DateJoined</td>
    </tr>
</table>

