
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock Quantity</th>
        <th>Category</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
        <td>@Model.Description</td>
        <td>@Model.Price</td>
        <td>@Model.StockQuantity</td>
        <td>@Model.Category</td>
    </tr>
</table>
